/* Dashboard.css */

/* Typing Effect Animation */
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  .intro-animation {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #1890ff;
    width: 0;
    margin: 20% auto;
    text-align: center;
    animation: typing 3s steps(20, end), blink 0.5s step-end infinite;
    
  }
  
  .fade-out {
    opacity: 1;
    transition: opacity 1s ease-out;
  }
  
  .hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .dashboard-container {
    display: none; /* Hide Dashboard by Default */
  }
  
  .dashboard-visible {
    display: block;
  }
  